<!DOCTYPE html>
<html>
  <head>
    <style>
       #map {
        height: 600px;
        width: 100%;
       }
    </style>
  </head>
  <body>
    <h3>Trip Planner</h3>
    <div id="map"></div>
    <script>
      function initMap() {
        var uluru = {lat: 40.440, lng: -79.995};
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 10,
          center: uluru
        });
        var marker = new google.maps.Marker({
          position: uluru,
          map: map
        });
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCT8b03UGa07ZCgIS4Z9B8kyMpU0BqIrhM&callback=initMap">
    </script>
  </body>
</html>